.header {
  position: relative;
}
.header h2 {
  font-weight: 700;
  text-transform: uppercase;
}
.header h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 43px;
  bottom: 0;
  height: 5px;
  width: 100px;
  background: rgba(3, 127, 255, 0.3);
  border-radius: 100px;
}
.header h2::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 43px;
  width: 49px;
  height: 5px;
  background: #037fff;
}
.header span {
  position: absolute;
  left: 0;
  top: -19%;
  font-size: 4.5rem;
  color: rgba(25, 29, 43, 0.44);
  text-transform: uppercase;
  font-weight: 900;
  z-index: -10;
}

@media (max-width: 500px) {
  .header span {
    font-size: 3rem;
    top: 46%;
  }
}
@media (max-width: 700px) {
  .header span {
    font-size: 3rem;
    top: 46%;
  }
}
@media (max-width: 1000px) {
  .header span {
    font-size: 3rem;
    top: 46%;
  }
}
