.vertical-timeline {
  margin-top: 85px;
}

.vertical-timeline::before {
  background-color: #2e344e;
}
.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px#2e344e, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.vertical-timeline-element-content {
  border-top: 5px solid #2e344e !important;
  box-shadow: none;
  transition: all 0.45s ease-in-out;
}
.vertical-timeline-element-content:hover {
  border-top: 5px solid #037fff !important;
}
