.list {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 10px;
}
.list li {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.list li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4acc4;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.list li a:hover {
  background-color: #037fff;
}
.active {
  color: white !important;
  background-color: #037fff;
}
